
<div id="li-page-top" class="page-container fluid">
        <div class="li-header header-style-1 transparent-enable header-fixed">
            <div class="li-topbar navbar-widgets-fade">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="social-icons"><a href="https://www.facebook.com/" class="li-facebook"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/" class="li-twitter"><i class="fa fa-twitter"></i></a><a href="https://plus.google.com/" class="li-google-plus"><i class="fa fa-google-plus"></i></a></div>
                            <div class="contact-info"><a class="phone" href="tel://Call Toll Free 877-220-6175"><i class="fa fa-comments-o" aria-hidden="true"></i>Call Toll Free 877-220-6175 </a><a class="email" href="/cdn-cgi/l/email-protection#d5bcbbb3ba95a5bcbbbbb4b6b9b0babbb0b3a0bbb1bcbbb2fbb6bab8"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="__cf_email__" data-cfemail="11787f777e5161787f7f70727d747e7f7477647f75787f763f727e7c">[email&#160;protected]</span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar">
                <div class="container fluid-on-sm navbar-default">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span class="icon-bar bottom-bar"></span></button>
                            <div class="navbar-brand-container">
                                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">



                                    <ul id="menu-main-menu-top" class="nav navbar-default navbar-nav navbar-right">

                                        <li id="menu-item-84" class="scroll-to menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-84 active">
                                            <a href="@Url.Action("Index","Home")">Home</a>
                                        </li>

                                        <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"> <a href="@Url.Action("HowItWorks","Home")">How It Works</a></li>

                                        <li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="@Url.Action("AvailableReliefOptions","Home")">Available Relief Options</a></li>

                                        <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="@Url.Action("Contactus","Home")">Contact Us</a></li>


                                        <li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82">
                                            <a href="@Url.Action("Scheduleacallback","Home")">Schedule A Call Back</a>
                                        </li>
                                    </ul>

                                    <a class="navbar-brand" href="https://pinnacleonefunding.com">

                                        <img src="~/Content/Alt Credit Logo - PNG.png" style="height:75px;width:290px; margin-top:-7px;" />

                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>